.original-background {
    position: relative;
    z-index: 1;
}

.login-backround {
    position: absolute;
    top: 100px;
    left: 500px;
    right: 500px;
    bottom: 200px;
    display: none;
    border-radius: 9px;
    z-index: 2;
    -webkit-box-shadow: 8px -6px 28px -2px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 8px -6px 28px -2px rgba(0, 0, 0, 0.58);
    box-shadow: 8px -6px 28px -2px rgba(0, 0, 0, 0.58);

}


.login-container {
    background-image: linear-gradient(rgba(42, 36, 36, 0.6) 0%, #544646 100%);
    background-color: #5028f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px 30px 0;
    border-bottom: 1px solid silver;

}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: all 0.3s ease;

}


.input-group input:focus + label,
.input-group input:valid + label {
    top: -20px;
    left: 0;
    display: none;
    font-size: 12px;
}

.login-btn {
    width: 80px;
    height: 40px;
    padding: 10px;
    border: none;
    background: #5c6bc0;

    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: #3f51b5;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}